
body{
    background-color: #adadad;
}

.social_bar{
    height: 40px;
    margin-bottom: 3px;
    background-color: white;
}


.top_menu_r1{
    background-color: #ea2e2b;
    max-height: 40px;
    font-family: 'Coda', cursive;
    font-size: 18px;
}

.nav_btn{
    width: auto;
    padding: 0 10px 0 10px;
    float: left;
    display: inline;
    color: #ffffff;
    /*font-weight: bolder;*/
    line-height: 40px;
    text-align: center;
    transition: all 0.5s;

    transform: skew(-10deg);

}

.nav_btn a{
    color: inherit;
    display: block;
    transform: skew(10deg);
}


.nav_btn a:hover{
    text-decoration: none;
}

.nav_btn:hover{
    background-color: #333333;
}


.nav_btns{
    float: right;
    margin-right: 20px;
}

.top_menu_r2{
    //margin-top: 3px;
    background-color: #ffffff;
    height: 40px;
}
.top_menu_r3{
//margin-top: 3px;
    background-color: #333333;
    height: 20px;
    margin-bottom: 5px;
}

#logo{
    float: left;;
}

.score-board-head{
    background-color: #333333;
    text-align: center;

}

.score-board-head-title{
    background-color: #ea2e2b;
    color: #ffffff;

}

.score-board{
    background-color: white;
}

/*Sonna styles*/
body{
    font-family: 'Oswald', sans-serif;
}

.score-table{
//    background-color: #101010;
//height: 300px;
}
.score-heading{
    background-color: rgb(234, 46, 43);
    color: white;
    padding-left: 15px;
    padding-right: 15px;

}
.score-heading h3{
    font-size: 18px;
    font-weight: bold;
}


.score-content{
    background-image: url('../pics/footer_lodyas.png');
    background-repeat: repeat;
    color: white;
    padding-left: 0;
    padding-right: 0;

}
.score-middle{
    padding-left: 0;
    padding-right: 0;
}

.score-middle img{
//    max-width: 150px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}

.score-left{
    background-color: gray;
    padding: 15px 5px 15px 15px;
    color: rgb(234, 46, 43);
    margin-top: 30px;
}

.score-right{
    background-color: gray;
    padding: 15px 15px 15px 5px;
    color: white;
    margin-top: 30px;
    margin-left: -1px;
}

.score-summary{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    text-transform: uppercase;
    font-size: 9pt;
    margin-top: -10px;
}

.score-detail{
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    max-height: 100%;
//  background-color: #f5f5f5;
    background-image: url('../pics/footer_lodyas.png');
    background-repeat: repeat;
}
#footer-wrapper{
    padding-top: 10px;
}

#footer-wrapper a{
    color: white;
    font-size: 16px;
}
/*            #map-canvas { height: 100%; margin: 0; padding: 0;}*/

#mini-scoretable{
    background-color: rgb(224, 224, 224);

}

#mini-scoretable table{
    margin-bottom: 0;
}
#mini-scoretable tbody{
    font-family: 'Open Sans', sans-serif;

}

#mini-scoretable tr{
    background-image: -webkit-linear-gradient(left, rgb(224, 224, 224), rgb(236, 236, 236));
}

.mini-scoretable-middle{
    text-align: center;
}
